@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 15 14% 12%;
  --fg: 0 0% 98%;
}

html, body, #__next {
  height: 100%;
}

body {
  background-color: hsl(var(--bg));
  color: hsl(var(--fg));
}
